[submodule "external/PX4-Autopilot"]
	path = external/PX4-Autopilot
	url = https://github.com/PX4/PX4-Autopilot.git
[submodule "ros2_ws/src/px4_msgs"]
	path = ros2_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
