<?xml version="1.0"?>
<model>
  <name>target_marker</name>
  <version>0.1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>find_object_again</name>
    <email>todo@example.com</email>
  </author>
  <description>Simple target marker for cooperative tracking demos.</description>
</model>

